* {
    text-decoration: none;
}

.navbar {
    background: #eee4e1;
    font-family: fantasy;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 5px;
}

.navbar .links a:hover {
    color: #eee4e1;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 30px;
    font-weight: 600;
    color: black;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

h2 {
    color: #edede9;
    padding-top: 48px;
    padding-left: 28px;
    margin-block-start: 0px;
}

p {
    width: 45%;
    padding-top: 5px;
    padding-left: 28px;
    padding-right: 40px;
    font-size: 16px;
    color: #edede9;
}

h3 {
    color: #edede9;
    padding-top: 20px;
    padding-left: 28px;
}

footer {
    text-align: center;
    color: black;
    padding: 10px;
    font-size: 12px;
    background: #eee4e1;
}

.footer {
    color: black;
}

main {
    max-width: auto;
    background-image: url(https://images.unsplash.com/photo-1515688403147-44e0433f180f?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    font-size: 15px;
    text-align: justify;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 1024px;
    background-attachment: scroll;
    width: 100%;
    height: auto;
    padding: 0px;
    color: rgb(58, 55, 55);
}

body {
    margin: 0px;
}